form{
    background-color: gray;
padding: 90px;
margin: 40px;

}

input[type=text],input[type=password]{
    width: 100%;
    border-radius: 11px;
    height: 29px;
    box-shadow: 4px 3px 5px 3px green;



}

input[type=submit]{
    width: 100%;
    border: 1px solid black;
    box-shadow: 4px 3px 5px 3px green;
    height: 29px;
    border-radius: 11px;
    background-color: black;

}

input[type=submit]:hover{
    background-color: red;
}










