table{
    height: 309px;
    width: 100%;
border-collapse: collapse;
border: 1px solid black;
}

table,th,td{
border: 1px solid black;
}




th,td{
    border-bottom: 1px solid black;

     }


th{
    background-color: dodgerblue;
}


.hd{
    color: yellow;
}


tr:hover{


    background-color: gray;

}

tr:nth-child(even){
    background-color: orange;
}













































































































































































































































































































































































































































