table,th,td{
    border: 1px solid navy;
border-collapse: collapse;
}

table{
background-color: burlywood;
    height: 298px;
    width: 509px;
    margin-left: auto;
    margin-right: auto;
}

th,td{
padding: 40px
}


.row1{
    background-color: slateblue;


}





